{
  "name": "A360BotFramework",
  "label": "[[label]]",
  "description": "[[description]]",
 "sessionType": {
    "label": "[[sessionLabel]]",
    "description": "[[sessionDescription]]"
 },
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "",
  "commands": []
}